//Font variables
$font-primary: "Inter", sans-serif;

// Color Variables Primary
$color-primary-orange: #e9ab53;
$color-primary-red: #f15e50;

// Color Variables Neutral
$color-neutral-white: #fffdfa;
$color-neutral-grayish-blue: #c5c6ce;
$color-neutral-dark-grayish-blue: #5d5f79;
$color-neutral-very-dark-blue: #00001a;

// Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5rem; //1000px
$bp-medium: 50rem; //800px
$bp-small: 37.5em; //600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  background-color: $color-neutral-white;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 400;
}

.App {
  max-width: 1440px;
  padding: 5rem 10rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
    max-width: 100%;
    overflow-x: hidden;
  }
}
