.sidebar {
  background-color: $color-neutral-very-dark-blue;

  &__header {
    color: $color-primary-orange;
    padding: 3.5rem;
    font-size: 3rem;
  }

  &__content {
    padding: 4rem 4rem 0 4rem;
    &-heading {
      color: $color-neutral-white;
      margin-bottom: 2rem;
    }

    &-paragraph {
      color: $color-neutral-grayish-blue;
      margin-bottom: 2rem;
    }
    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}
