.sidebar {
  background-color: $color-neutral-very-dark-blue;

  &__header {
    color: $color-primary-orange;
    padding: 3.5rem;
    font-size: 3rem;
  }

  &__content {
    padding: 4rem 4rem 0 4rem;
    &-heading {
      color: $color-neutral-white;
      margin-bottom: 2rem;
      transition: 0.4s all;
      cursor: pointer;

      &:hover,
      &:active {
        color: $color-primary-orange;
      }
    }

    &-paragraph {
      color: $color-neutral-grayish-blue;
      margin-bottom: 2rem;
    }
    hr {
      border: 0;
      height: 0;
      border-bottom: 0.85px solid $color-neutral-dark-grayish-blue;
    }
  }
}
